body {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  padding-top: 6px;
  padding-left: 8px;
}

.logo {
  height: 40px;
  padding-right: 3px;
}

.content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.chart {
  flex: 1 1 100%;
}

.nest {
  opacity: 0.6;
  cursor: pointer;
}

.nest.pinned {
  opacity: 1.0;
}

.nest.hovered {
  opacity: 1.0;
}

.plate {
  stroke-width: .25;
  stroke: #000;
}

.nest.pinned > .plate,
.nest.hovered > .plate {
}

.nest-details {
  pointer-events: none;
  position: absolute;
  display: none;
}

.nest-details > .jumbotron {
  background: eee;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: 0px;
}

.nest-details .dl-horizontal dt {
  width: 70px;
}

.nest-details .dl-horizontal dd {
  margin-left: 80px;  // dt width + 20;
}

.nest-details #time-series {
  background: white;
  width: 400px;
  height: 200px;
  margin-bottom: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

path.temperature {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
